@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div >
<h1 id="banner-position"><img id="dino-img" src="~/images/DinoDiner-Rawr.png" />Dino-Diner</h1id="banner-position">
</div>
<a href="Menu">Menu</a>
<a href="Privacy">Privacy</a>
<a href="About">About</a>