@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="banner-position">
<img id="banner" src="~/images/DinoDiner-Rawr.png"/>
<h1>Dino-Diner</h1>
</div>
<a href="Menu">Menu</a>
<a href="Privacy">Privacy</a>
<a href="About">About</a>