/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

form {
    background-color: lightgray;
    padding: 20px;
    width: 400px;
}

table {
    border: solid gray 2px;
    display: flex;
}

th {    
    min-width: 50px;
    border: dashed gray 1px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.checkbox-list {
    display: flex;
    flex-direction: row;    
}

#menu-container {
    display: flex;
    flex-direction: row;
    width: 500px;
}

#dino-img {
    height: 200px;
    vertical-align: central;
}

#banner-position{
    vertical-align: central;
    max-height: 200px;}